td{
    vertical-align: middle !important;
}

.arabic-report {
    direction: rtl;
    text-align: right;
    font-family: "Rubik", sans-serif; // Use Arabic-supportive font
}

.statement-main-box{
    // box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 1rem;

    .statement-box{
        text-align: center;
        // background-color: #02153d;
        padding: 0.9rem 0.3rem ;
        color: white;
        height: 100px;
        width: 100px;
        border: solid 10px #02153d !important;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);

        h6{
            font-size: 12px;
            text-transform: uppercase;
            color: white;
            padding: 0;
            margin: 0 0 0 0;
            line-height: 0;
        }

        p{
            padding: 0;
            margin: 30px 0 0 0;
            font-size: 55px;
            line-height: 0;
            font-weight: 600;
        }
    }

    .question-box{
        margin: 1rem   1.3rem 0 1.3rem;
        width: 100%;
        text-align: left;
        position: relative;

        hr{
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: #02153d;
            border-radius: 5px;
        }
    }
}

.trapezoid{
    // border-color: #1d458f;
    // border-left: 200px solid;
	// border-top: 25px solid transparent !important;
	// border-bottom: 25px solid transparent !important;
	height: auto;
    // position: relative;
    // background-color: #1d458f;

    // .text-box{
        // position: absolute;
        // left: -180px;
        // width:180px;
    // }
}

.mapping-card{
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.card {
    box-sizing: border-box;
    break-inside: avoid; /* Prevent card splitting */
    page-break-inside: avoid; /* Ensure cards don't break across pages */
    margin-bottom: 10px;
}

.card.large-content {
    height: auto; /* Allow cards with large content to expand */
    overflow: visible;
}

@media print {
    td{
        vertical-align: middle !important;
    }
    .a4 {
        box-sizing: border-box;
        min-height: 297mm !important;
        page-break-after: always;
        border: none !important;
    }

    .a4:last-child {
        page-break-after: auto;
    }

    .report-page-header {
        display: none;
    }

    .statement-box{
        border: solid 10px #02153d !important;

        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .mapping-card{
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .download-pdf-button, .card-print-toggler{
        display: none;
    }
}