.zero-percent-progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.zero-percent-progress-bar-segment {
    height: 100%;
    padding-top: 3px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.zero-percent-progress-bar-label{
    margin-top: 5px;
    color: black;
}

@media print {
    .zero-percent-progress-bar {
        border: 1px solid #ccc;
    }
}