.likert-scale {
    text-align: start;
    margin-top: 10px;
}

.likert-buttons {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.likert-button {
    /* margin: 5px; */
    flex-basis: auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
}

.likert-button.selected {
    background-color: #007bff;
    color: #fff;
}

.likert-button:hover {
    background-color: #007bff;
    color: #fff;
}

.likert-label {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #666;
}